
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Poppins:wght@400;600;700&display=swap');
*{
   font-family: 'Kanit', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-size: 13px;
}